doctype html
head
  meta(charset="UTF-8")
  link(rel='stylesheet',href='css/styles.css')
body
  .header.manage
    .container
      .logo
      .social
      .how-to-partner Как стать нашим партнером
      .connect
        .phone 8-800-
          span 2-343-2-00
        .email support@beyondviolet.com
    .menu
      .container
        .menu-item.active шаг в будущее
        .menu-item Пакеты услуг
        .menu-item Результат
        .menu-item Отзывы
        .menu-item партнеры
    .content-container
      .left
        h2.header-header Управляйте расходами

        ul.header-list
          li.header-li Просматривайте акции  на Ваши любимые товары
          li.header-li Теперь расходы всегда под Вашим контролем
          li.header-li Установите лимит и покупайте только то, что нужно
          li.header-li Сделайте поход в магазин рациональным!
        .appstore
          .apple-logo
        .gplay
      .iphone
        .prev
        .video
        .next


      .tick
      .tick
      .tick