doctype html
head
  meta(charset="UTF-8")
  link(rel='stylesheet',href='css/styles.css')
body
  script(src="https://cdnjs.cloudflare.com/ajax/libs/parallax/3.1.0/parallax.min.js")
  script(src="../js/scripts.js")
  .header.start
    .container
      .logo
      .social
        .vk
        .ok
        .fb
        .insta
      .how-to-partner Как стать нашим партнером
      .connect
        .phone 8-800-
          span 2-343-2-00
        .email support@beyondviolet.com
    .menu
      .container
        .menu-item.active шаг в будущее
        .menu-item Пакеты услуг
        .menu-item Результат
        .menu-item Отзывы
        .menu-item партнеры
    #scene(data-relative-input="true")
      .first-paralax(data-depth="0.2")
      .second-paralax(data-depth="0.3")
      .third-paralax(data-depth="0.4")
      .fourth-paralax(data-depth="0.5")
      .fifth-paralax(data-depth="0.6")
      .sixth-paralax(data-depth="0.7")
      .seventh-paralax(data-depth="0.8")
    .content-container

      .left
        .changable-content
          h2.header-header
            | Открывайте новое
          ul.header-list
            li.header-li Новые вкусы и новые возможности
            li.header-li Изучайте товары, сканируя штрих-код
            li.header-li Получайте персоональные предложения
            li.header-li Сделайте вашу жизнь ярче!
        .appstore
          .apple-logo
        .gplay
      .iphone
        #prev.prev
        video.video(width="323", height="573" autoplay="", muted="")
          source(src="http://iaroslavzhmak.name/zhmak2-0/media/cooktime/cook-scroll-web.mp4", type="video/mp4")
        #next.next


      .tick
      .tick
      .tick

  .logo-container
    .logo-bv
  .filler
