doctype html
head
  meta(charset="UTF-8")
  link(rel='stylesheet',href='css/styles.css')
body
  .header.manage
    .container
      .logo
      .social
      .how-to-partner Как стать нашим партнером
      .connect
        .phone 8-800-
          span 2-343-2-00
        .email support@beyondviolet.com
    .menu
      .container
        .menu-item.active шаг в будущее
        .menu-item Пакеты услуг
        .menu-item Результат
        .menu-item Отзывы
        .menu-item партнеры
    .content-container
      .left
        h2.header-header Управляйте расходами

        ul.header-list
          li.header-li Просматривайте акции  на Ваши любимые товары
          li.header-li Теперь расходы всегда под Вашим контролем
          li.header-li Установите лимит и покупайте только то, что нужно
          li.header-li Сделайте поход в магазин рациональным!
        .appstore
          .apple-logo
        .gplay
      .iphone
        .prev
          //<video class="vjs-tech" id="video-0_html5_api" tabindex="-1" preload="auto" src="blob:https://www.dropbox.com/6533afd5-1b97-4a3e-b41d-4c7b4fa3f2de"><source src="https://www.dropbox.com/v/s/playlist/AIDwwu_Pt6nQ1aPxMDQg-RCYjbHnEIiD_tNOjxAALAh7sfPDw3Ru9QA3KrVBdqY7ceckDnOlhs4TzBZerfPpzBph5uG-g8TKKmtm29KeMMZwKFGe2_5n0Klp94IRAXvkYtm4BjEDWqH6YAzZ9O-UAAgfHedklRqJkI6mgrdfOWDRjtyOJpQzShcrEI7n9XuzCtYGC60TyGa8nvmQoe4QBb_2WVchYfPEuAxPUmcUWYo-z5vf5sBfRS0jOJGvYrmMUKD7Q1YDtVUbKuKnfELRbcQO-fKrwkKJfvPvNQfrs4LQ-qKvOD8VGGrgUlFj9NXsPNc" type="application/vnd.apple.mpegurl"></video>
        video.video(class="vjs-tech" id="video-0_html5_api", tabindex="-1", preload="auto", src="https://www.dropbox.com/6533afd5-1b97-4a3e-b41d-4c7b4fa3f2de")
          source(src="https://www.dropbox.com/v/s/playlist/AIDwwu_Pt6nQ1aPxMDQg-RCYjbHnEIiD_tNOjxAALAh7sfPDw3Ru9QA3KrVBdqY7ceckDnOlhs4TzBZerfPpzBph5uG-g8TKKmtm29KeMMZwKFGe2_5n0Klp94IRAXvkYtm4BjEDWqH6YAzZ9O-UAAgfHedklRqJkI6mgrdfOWDRjtyOJpQzShcrEI7n9XuzCtYGC60TyGa8nvmQoe4QBb_2WVchYfPEuAxPUmcUWYo-z5vf5sBfRS0jOJGvYrmMUKD7Q1YDtVUbKuKnfELRbcQO-fKrwkKJfvPvNQfrs4LQ-qKvOD8VGGrgUlFj9NXsPNc", type="application/vnd.apple.mpegurl")
        .next


      .tick
      .tick
      .tick