body * {
  font-family: "Segoe UI small", serif;
}

body {
  overflow-x: hidden;

}

.header-image {
  width: 100%;
  height: 968px;
}

.krug {
  height: 32px;
  width: 32px;
  background: url("../../images/krug.png");
}

.hbz {
  width: 39px;
  height: 40px;
  background: url("../../images/hbz.png");
}

#scene {
  position: absolute;
  width: 1133px;
  left: calc(50% - 580px);
  margin: 0 auto;
}

.first-paralax {
  margin-left: 360px;
  margin-top: 227px;
  @extend .hbz;

}

.second-paralax {
  margin-left: 582px;
  margin-top: 247px;
  @extend .krug;
}

.third-paralax {
  margin-left: -148px;
  margin-top: 344px;
  @extend .krug;

}

.fourth-paralax {
  margin-left: 113px;
  margin-top: 414px;
  @extend .hbz;

}

.fifth-paralax {
  margin-left: 543px;
  margin-top: 460px;
  @extend .krug;

}

.sixth-paralax {
  margin-left: 38px;
  margin-top: 661px;
  @extend .krug;

}

.seventh-paralax {
  margin-left: 568px;
  margin-top: 666px;
  @extend .hbz;

}

.header {
  @extend .header-image;
  background: url("../../images/css_sprites.png") -10px -10px;

  &.manage {
    @extend .header-image;
    background-position: -10px -10px;
  }

  &.start {
    @extend .header-image;
    background-position: -1950px -10px;

  }

  &.time {
    @extend .header-image;
    background-position: -1950px -998px;

  }

  &.dishes {
    @extend .header-image;
    background-position: -10px -998px;

  }
}

.header {
  padding-top: 15px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.logo {
  height: 56px;
  width: 58px;
  margin-left: 50px;
  background: url("../../images/logo-white.svg");
}

.how-to-partner {
  color: #ffffff;
  font-size: 18px;
  font-family: "Segoe UI", serif;
  line-height: 24px;
  border-bottom: 1px dashed;
  cursor: pointer;
}

.container {
  width: 1133px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.content-container {
  width: 1133px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;

}

.menu {
  position: relative;
  display: block;
  min-height: 55px;
  margin-top: 15px;
  .container {
    min-height: 55px;
  }
  &::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #000000;
    opacity: 0.56;
  }
  .menu-item:nth-child(3)::before {
    content: '';
    display: block;
    position: absolute;
    width: 66px;
    height: 2px;
    background-color: #ffffff;
    left: calc(50% - 33px);
    top: -16px;
  }
  &::after {
    content: '';
    display: block;
    position: absolute;
    background: url("../../images/post-menu.png");
    width: 1116px;
    height: 19px;
    left: calc(50% - 548px);
    bottom: -25px;
  }
}

.menu-item {
  text-transform: uppercase;
  color: #ffffff;
  font-size: 24px;
  font-weight: 300;
  line-height: 24px;
  position: relative;
  z-index: 1;
  &.active {
    font-family: "Segoe UI - Semi Bold", serif;

  }
}

.phone {
  color: #ffffff;
  font-size: 26px;
  font-family: "Segoe UI", serif;
  line-height: 24px;
  text-transform: uppercase;
  position: relative;
  span {
    font-family: "Segoe UI - Semi Bold", serif;
  }

  &::before {
    content: '';
    display: block;
    position: absolute;
    width: 29px;
    height: 27px;
    background: url("../../images/phone.png");
    left: -36px;
    top: -2px;
  }
}

.email {
  color: #ffffff;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  position: relative;
  margin-top: 7px;
  font-family: "Segoe UI", serif;
  &::before {
    content: '';
    position: absolute;
    left: -19px;
    top: 7px;
    display: block;
    width: 15px;
    height: 12px;
    background: url("../../images/icon-mail.svg");
    -webkit-background-size: cover;
    background-size: cover;
  }
}

.header-header {
  color: #ffffff;
  font-size: 48px;
  font-weight: 300;
  position: relative;
  line-height: 77px;
  margin-top: 84px;
  padding-bottom: 12px;
  display: block;
  &::before {
    content: '';
    display: block;
    position: absolute;
    left: -500px;
    width: 1369px;
    height: 100%;
    background-color: #8ba5f7;
    opacity: 0.16;
  }

  a {
    color: #b7c0f3;
    text-decoration: none;
    border-bottom: 1px dashed;
  }

}

.changeble-plain-text {
  color: #ffffff;
  font-size: 30px;
  font-weight: 300;
  line-height: 30px;
  margin-top: 79px;
}

.market {
  position: relative;
  width: 318px;
  height: 75px;
  margin-right: 20px;

  &::before {
    content: '';
    z-index: 1;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    border: 1px solid #fffbfb;
    background-color: #000000;
    opacity: 0.74;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
  }
}

.appstore {
  @extend .market;
  &::after {
    z-index: 2;
    content: '';
    top: 2px;
    left: 0;
    display: block;
    position: absolute;
    width: 288px;
    height: 75px;
    background: url("../../images/apple-text.png");
  }
}

.gplay {
  @extend .market;
  &::after {
    z-index: 2;
    content: '';
    top: 2px;
    left: 0;
    display: block;
    position: absolute;
    width: 288px;
    height: 75px;
    background: url("../../images/gplay-text.png");
  }
}

.header-list {
  padding: 0;
  margin: 0 0 140px;
}

.header-li {
  color: #ffffff;
  font-size: 30px;
  line-height: 50px;
  list-style: none;
  display: block;
  position: relative;
  padding-left: 35px;

  &::before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    background: url("../../images/icon-tick.svg");
    width: 25px;
    height: 26px;
    top: 10px;
  }
}

.left {
  display: flex;
  flex-wrap: wrap;
}

.iphone {
  margin-top: 50px;
  flex-shrink: 0;
  position: relative;
  display: block;
  background: url("../../images/iphone.png");
  width: 374px;
  height: 759px;
}

.prev {
  display: block;
  position: absolute;
  background: url("../../images/btn-right.png");
  width: 77px;
  height: 76px;
  left: -100px;
  top: calc(50% - 58px);
  cursor: pointer;

}

.next {
  display: block;
  position: absolute;
  background: url("../../images/btn-left.png");
  width: 77px;
  height: 76px;
  right: -100px;
  top: calc(50% - 58px);
  cursor: pointer;
}

.video {
  top: 94px;
  position: absolute;
  left: 24px;
}

.changable-content {
  min-height: 540px;
}

.filler {
  display: block;
  height: 6378px;
  background: url(../../images/fill.png) 50% -1022px;
}

.logo-container {
  width: 1133px;
  margin: 0 auto;
  display: block;
  position: relative;
}

.logo-bv {
  width: 207px;
  height: 200px;
  left: 0;
  top: 75px;
  position: absolute;
  background: url("../../images/logo.svg");
}

.social {
  display: flex;
}

.social-link {
  height: 32px;
  width: 28px;
  margin-right: 6px;
  cursor: pointer;
}

.vk {
  @extend .social-link;
  background: url("../../images/VK.svg");
}

.ok {
  @extend .social-link;

  background: url("../../images/ODN.svg");
}

.fb {
  @extend .social-link;

  background: url("../../images/FB.svg");
}

.insta {
  @extend .social-link;

  background: url("../../images/INSTA.svg");
}