@font-face {
  font-family: "Segoe UI";
  src: url("../../fonts/segoeui.ttf");
}

@font-face {
  font-family: "Segoe UI - Semi Bold";
  src: url("../../fonts/seguisb.ttf");
}

@font-face {
  font-family: "Segoe UI small";
  src: url("../../fonts/segoeuil.ttf");
}
